extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Iniciar Sesión
        form(method="post") 

            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Usuario o Correo", value=logUsername required="")
            input(type="password", name="logPassword", placeholder="Contraseña", required="")
            input(type="submit", value="Iniciar Sesión")
        a(href="/register") ¿No tienes cuenta? Registrate aqui.